.containerHeader {
    display: flex;
    columns: 4;
    column-gap: 50px;
    justify-content: space-around;
    margin-top: 15px;
}

.portfolioValue {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 55px;
    border-radius: 5px;
}
.yield,
.yieldOnCost,
.annualIncome,
.beta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 290px;
    height: 60px;
    border: 2px solid #BB86FC;
    color: #9EEFE5;
    border-radius: 10px;
    font-size: 20px;
}