.container {
    display: grid;
    justify-content: center;
    margin: 40px 50px 0 50px;
    padding: 50px;
    background-color: var(--accent-color);
    border-radius: 10px;
    font-size: 16px;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #BB86FC;
}

.subTitle {
    font-size: 25px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

p, ul {
    width: 700px;
}