.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 50px 0 50px;
    padding: 25px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

.title {
    font-size: 40px;
    margin-bottom: 40px;
    color: #BB86FC;
}

/* --------------------------------------------------------------- */

.portfolio {
    margin: auto;
    padding: 15px;
    width: 1450px;
}
 
.portfoliomainrowwrapper,
.portfoliorowwrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0 20px 10px;
}
 
.portfoliomainrow {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
}

.portfoliorow {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #252525;
}

.addmorebutton {
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: -10px;
}

.removestockbutton {
    width: 25px;
}