.data {
    border-bottom: 1.5px solid var(--bg-color);
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.value {
    margin-left: 20px;
}

.key {
    margin-right: 20px;
}