.container {
    position: sticky;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 5px var(--bg-color);
    z-index: 999;
}

.logo {
    width: 80px;
    margin: 15px;
}

.title {
    font-size: 40px;
}

.navBtn {
    margin: 0 8px 0 8px;
    width: 120px;
    height: 35px;
}

.navigation {
    display: flex;
}

.profileBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}