.container {
    display: grid;
    grid-template-columns: 30rem 35rem 35rem;
    grid-template-rows: 1fr 1fr;
    margin-top: 40px;
    background-color: var(--accent-color);
    justify-content: center;
    align-items: center;
    text-align: left;
}
.logo {
    width: 150px;
    margin-left: 8rem;
}

.legal {
    position: relative;
    width: 800px;
    text-align: center;
    margin-left: 30rem;
    margin-bottom: 30px;
}

.links {
    margin-left: 20px;
}