@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #9EEFE5;
        width: 5px;
        border-radius: 10px;
    }
    .custom-scrollbar-dark::-webkit-scrollbar-thumb {
        background-color: #9EEFE5;
    }
}

:root {
    --bg-color: #121212;
    --accent-color: #1D1D1D;
    --accent-2-color: #BB86FC;
    --a-color: #9EEFE5;
    --red-color: #FF6B6C;
    --green-color: #04A777;
}

body {
    background-color: var(--bg-color);
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
button {
    color: var(--accent-color);
    cursor: pointer;
    transition: 0.15s;
    background-color: var(--a-color);
    border: none;
    font-weight: bold;
}
button:hover {
    background-color: var(--accent-2-color);
    box-shadow: 1px 1px 10px var(--bg-color);
}
button:active {
    opacity: 0.7;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: var(--a-color);
}
img:hover {
    cursor: pointer;
}
input {
    background-color: #121212;
    text-decoration: none;
    outline: none;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #a5b4fc;
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--a-color);
}
input { 
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    text-transform: none;
}
:-moz-placeholder {
    text-transform: none;
}
::-moz-placeholder {
    text-transform: none;
}
:-ms-input-placeholder {
    text-transform: none;
}
::placeholder {
    text-transform: none;
}